@model List<CategoryModel>
<div class="container">
<div class="row p-4">
    <div class="col-6">
        <h2 action="text-primary">
            Category List
        </h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" asp-controller="Category" class="btn btn-primary">
            Create Category <i class="bi bi-plus"></i>
        </a>
    </div>
    
</div>


<table class="table table-hover">
    <thead>
        <tr class="table-secondary">
        <th>Cartegory</th>
        <th>Display Order</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model){
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
            </tr>
        }
    </tbody>
</table>
</div>